sudo: required
services: 
 - docker

before_install:
  - docker build -t whoisju1/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run whoisju1/react-test yarn test -- --coverage

after_success:
  - docker build -t whoisju1/mutli-client ./client
  - docker build -t whoisju1/mutli-nginx ./nginx
  - docker build -t whoisju1/mutli-nginx ./nginx
  - docker build -t whoisju1/mutli-worker ./worker
  # log in to docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # take those images and push them to docker hub
  - docker push whoisju1/mutli-client
  - docker push whoisju1/mutli-nginx 
  - docker push whoisju1/mutli-nginx 
  - docker push whoisju1/mutli-worker
  
deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: multi-docker
  env: MultiDocker-env
  bucket_name: elasticbeanstalk-us-east-1-166152463318
  bucker_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secrete_access_key:
    secure: $AWS_SECTET_KEY